.navbar{
  font-family: 'Open Sans', sans-serif;
}

.row.navbar-fixed-top{
  background-color: #FFF;
}
.col-md-12.hidden-xs{
  margin:0;
  padding: 0;
}

section.hero{
  position: relative;
  height: 64rem;
  font-family: 'Raleway', sans-serif;
  color: #FFF;

}
img#taxi{
  position: absolute;
  transform: translateY(-45%);
  left: 0;
}
form{
margin: 2rem 0;

}
.inline{
  display: inline-block;
}
.registro{
  position: absolute;
  right: 0;
  top:14rem;
  height: auto;
  background-color: #f7b617;
  padding: 4rem;
  font-weight: bold;
}

.div-flex{
  display: flex;
  justify-content: space-around;
}
form hr{
  width: 15rem;
}

form h4{
  margin-bottom: 2rem;
}

.line-height{
  line-height: 0;
  margin-bottom: 5rem;
}

.color-black{
  color:#000;
  font-weight: bold;
}

section.informacion{
  position: relative;
  background-color: #f7b617;
  height: 58rem;
  color: #FFF;
}

section.informacion h3{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 3rem;
}

section.informacion p{
  font-family: 'Open Sans', sans-serif;
  line-height: 2.8rem;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.row-left{
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  margin-top:6rem;
  border: 1px solid #FFF;
  padding: 4rem 18rem;
  transform: translateX(-20%);
}

section.conduce{
  position: relative;
  height: 50rem;
}

img#conduce{
  position: absolute;
  left: 0;
  height: 50rem;
  width: 100%;
}

.div-conduce{
  position: absolute;
  height: 50rem;
  right: 0;
  padding: 16rem 0 0 2rem;
  color:#FFF;
  background-color: rgba(13, 19, 23, 0.43);
}

.btn-lab{
  background-color: #f7b617;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

section.conduce h3{
  font-family: 'Raleway', sans-serif;
}

section.conduce p{
    font-family: 'Open Sans', sans-serif;
}

section.tarifa{
  font-family: 'Open Sans', sans-serif;
  background-color: #f7b617;
  color:#FFF;
}

section.tarifa input{
  background-color: #f7b617;
  color:#FFF;
}

section.tarifa input[type="text"]::-webkit-input-placeholder{
  color: #fff;
}

section.tarifa button,
section.tarifa h3{
  font-family: 'Raleway', sans-serif;
}

div.bordes-map{
  padding: 1rem;
  border: 1px solid #FFF;
}

#boton-xs{
  margin-top:2rem;
}

@media (max-width:728px){
  #taxi{
    transform: none!important;
  }


section.hero{
  height: 54rem;
}

section.informacion{
  height: 51rem;
}

.registro{
  top:12rem;
}

.row-left{
  transform: none;
  padding: 4rem;
  padding-top: 6rem;
  margin:4rem 2rem 2rem 2rem;
}
